* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to top, #000000, #ffffff);    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 350px;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #fff;
    outline: none;
    color: #000000;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #000000;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: #ff0000;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
}

.options a {
    color: #000000;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #ffeb3b;
    color: #000;
    font-size: 18px;
    font: 1em sans-serif;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #ffffff;
}
button:active {
    background: #3bce01;
}

p {
    margin-top: 10px;
    color: #fff;
}

p a {
    color: #000000;
    text-decoration: none;
    
}
p a:active {
    color: #3bce01;
}